.dashboard {
  width: 100%;
  height: 100%;
  background: white;
  display: grid;
  grid-template-rows: 50px auto;
  grid-template-columns: 200px auto;
  gap: 1px;
}

.dashboard .header {
  grid-column: 1 / span 2;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  line-height: 50px;
}

.dashboard .menu {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.dashboard .outlet {
  background: #F4F2F6;
}

.header .logo {
  width: 40px;
  float: left;
  margin-top: 5px;
  margin-left: 10px;
}

.header .logoText {
  font-size: 20pt;
  font-weight: bold;
  float: left;
  margin-left: 5px;
  color: #2D74BE;
}
.header .logoText span {
  color: #3C4256;
}
.header label {
  font-weight: bold;
  float: right;
  margin-right: 60px;
  line-height: 50px;
  color: black;
}

.header .logout {
  width: 22px;
  height: 22px;
  float: right;
  margin-top: 14px;
  margin-right: 10px;
  cursor: pointer;
  transition: opacity 0.2s;
}
